<% content_for(:title, "My Blog Post") %>

<h1>My Blog Posts</h1>

<ul class="lead list-unstyled">
  <% @posts.each do |post| %>
    <li><%= post.created_at.strftime("%B %d, %Y") %> - <%= link_to post.title, post_path(post) %></li>
  <% end %>
</ul>
