<% content_for(:title, @post.title) %>

<h1><%= @post.title %></h1>

<p class='lead'>Post Created: <%= @post.created_at.strftime("%B %d, %Y") %></p>

<h3>Entry</h3>
<p class="lead"><%= @post.entry %></p>

<p><%= link_to "Return to blog list", posts_path %></p>
